html {
    color: #000;
    background: #fff;
}

body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote,
th,
td {
    margin: 0;
    padding: 0;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
}

fieldset,
img {
    border: 0;
}

address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
    font-style: normal;
    font-weight: inherit;
}

ol,
ul {
    list-style: none;
}

caption,
th {
    text-align: left;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 100%;
    font-weight: inherit;
}

q:before,
q:after {
    content: "";
}

abbr,
acronym {
    border: 0;
    font-variant: normal;
}

input,
textarea,
select,
button {
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
    font-size: 100%;
    border-radius: 0;
    border: none;
    appearance: none;
    -webkit-appearance: none;
    background-color: inherit;
}

textarea {
    resize: vertical;
    display: block;
}

select {
    cursor: pointer;
}

button {
    padding: 0;
    cursor: pointer;
}

legend {
    color: inherit;
}

tbody {
    -webkit-text-size-adjust: 100%;
}

main {
    display: block;
}

a {
    text-decoration: none;
    color: inherit;
}

img,
svg {
    width: 100%;
    height: auto;
    display: block;
}

dialog {
    max-width: 100%;
    max-height: 100%;
    padding: 0;
    color: inherit;
    border: none;
    margin: 0;
    padding: 0;
}

summary {
    display: block;
}

summary::-webkit-details-marker {
    display: none;
}

iframe {
    vertical-align: bottom;
}

* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    box-sizing: border-box;
}

*::before,
*::after {
    box-sizing: border-box;
}

.u-visually-hidden {
    position: absolute !important;
    white-space: nowrap !important;
    width: 1px !important;
    height: 1px !important;
    overflow: hidden !important;
    border: 0 !important;
    padding: 0 !important;
    clip: rect(0 0 0 0) !important;
    -webkit-clip-path: inset(50%) !important;
    clip-path: inset(50%) !important;
    margin: -1px !important;
}

.l-container-s {
    width: min(760px, 90%);
    margin-inline: auto;
}
