/*!
layout > container
------------------------------
*/
.l-container,
.l-container-s {
    width: 90%;
    margin: 0 auto;
}

.l-container-s {
    max-width: var(920px);
}

.l-container {
    max-width: var(1080px);
}

/*!
layout > header
------------------------------
*/
.header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
}

.header.is-fixed {
    position: fixed;
    top: -60px;
    background-color: #313131;
    color: #fff;
}

.header-logo {
    font-weight: bold;
}

.header-list {
    display: flex;
    justify-content: center;
    gap: 32px;
}

.header-item a {
    display: flex;
    align-items: center;
    height: 60px;
    font-weight: bold;
}

/*!
page > top > top-kv
------------------------------
*/
.top-kv {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100svh;
    background-color: #eee;
}

.top-kv-title {
    font-size: min(8vw, 80px);
    font-weight: bold;
}

.top-main {
    padding: 80px 0;
}

.top-main-inner {
    display: flex;
    flex-direction: column;
    gap: 40px;
    line-height: 2;
}

/*!
page > about > about-kv
------------------------------
*/
.about-kv {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    background-color: #eee;
}

.about-kv-title {
    font-size: min(8vw, 80px);
    font-weight: bold;
}

.about-main {
    padding: 80px 0;
}

.about-main-inner {
    display: flex;
    flex-direction: column;
    gap: 40px;
    line-height: 2;
}
