:root {
    --color-bg: #eee;
}

.header {
    background-color: rgb(221 221 221 / 0);
    color: #333;
    display: grid;
    grid-template-columns: 300px 1fr;
    align-items: center;
    padding: 0 80px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
}

.header-logo {
    text-transform: uppercase;
    font-size: 24px;
    font-weight: bold;
    color: #333;
}

.header-nav {
    justify-self: flex-end;
}

.header-list {
    display: flex;
    gap: 20px;
    align-items: center;
}

.header-item a {
    display: block;
    font-size: 16px;
    font-weight: bold;
}

.kv {
    height: 40vh;
    background-color: var(--color-bg);
}

.main {
    padding: 80px 0;

    & > * + * {
        margin-top: 80px;
    }
}
